.container {
  padding-left: 40px;
  /* margin: auto; */
  text-align: center;
  margin-top: 15px;
}

.paragraf {
  font-size: 20px;
  color: blueviolet;
  margin-bottom: 5px;
}

.input {
  background-color: aliceblue;
  margin-top: 0;
  border-radius: 5px;
  color: blueviolet;
  width: 300px;
}
